<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js "> </script>
    <title>American Vulcan Motos</title>


</html>

</body>

</html>

<!-- project url https://github.com/wagerfield/parallax/</br> -->
<!-- full demo https://wagerfield.github.io/parallax/ -->
<html class="mouse">

<body>
    <div id="container" class="wrapper">
        <ul id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25"
            data-scalar-y="15" style="width: 1900px; height: 1000px; -webkit-transform: translate3d(0, 0, 0); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
            <li class="layer" data-depth="0.00" style="position: relative; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0%, 0%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;"></li>
            <!-- fondo imagen -->
            <li class="layer" data-depth="0.10" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.29761904761904784%, -1.4893992932862183%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="background"></div>
            </li>
            <!-- luces no utiles -->
            <!-- <li class="layer" data-depth="0.10" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.29761904761904784%, -1.4893992932862183%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;"><div class="light orange b phase-4"></div></li>
            <li class="layer" data-depth="0.10" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.29761904761904784%, -1.4893992932862183%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;"><div class="light purple c phase-5"></div></li>
            <li class="layer" data-depth="0.10" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.29761904761904784%, -1.4893992932862183%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;"><div class="light orange d phase-3"></div></li>
            <li class="layer" data-depth="0.15" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.4464285714285717%, -2.234098939929327%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;"> -->

                <ul class="rope depth-10">
                    <li><img src="https://wagerfield.github.io/parallax/assets/images/rope.png" alt="Rope" /></li>
                    <li class="hanger position-2">
                        <div class="board cloud-2 swing-1"></div>
                    </li>
                    <li class="hanger position-4">
                        <div class="board cloud-1 swing-3"></div>
                    </li>
                    <li class="hanger position-8">
                        <div class="board birds swing-5"></div>
                    </li>
                </ul>
            </li>
            <!-- titulos -->
            <li class="layer" data-depth="0.20" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.5952380952380957%, -2.9787985865724367%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <h1 class="title">VULCAN <em>Route</em></h1>
               <a href="localhost:3000" class=" intro modal-close waves-effect waves-green btn-flat center-align white-text">Entrar</a>
                <!-- este boton de aquí es provisional, podemos cambiarlo en materailize para que sea un desplgabl desde la esquina o un + rojo o algo similar que entre en la página principal  -->
            </li>
            <li class="layer" data-depth="0.30" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.8928571428571433%, -4.468197879858654%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <ul class="rope depth-30">
                    <li><img src="https://wagerfield.github.io/parallax/assets/images/rope.png" alt="Rope" /></li>
                    <li class="hanger position-1">
                        <div class="board cloud-1 swing-3"></div>
                    </li>
                    <li class="hanger position-5">
                        <div class="board cloud-4 swing-1"></div>
                    </li>
                </ul>
             </li>
            <!--  <li class="layer" data-depth="0.30" style="background-repeat: no-repeat; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(0.8928571428571433%, -4.468197879858654%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="wave paint depth-30"></div>
            </li> -->
            <!-- <li class="layer" data-depth="0.60" style="background-repeat: no-repeat;position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(1.1904761904761914%, -5.957597173144873%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="wave plain depth-40"></div>
            </li> -->
            <!-- <li class="layer" data-depth="0.50" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(1.488095238095239%, -7.4469964664310915%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="wave paint depth-50"></div>
            </li> -->
            <!-- FARO -->
            <li class="layer" data-depth="0.60" style="background-repeat: no-repeat;position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(1.7857142857142867%, -8.936395759717309%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="lighthouse depth-60"></div>
            </li>
            <li class="layer" data-depth="0.60" style="background-repeat: no-repeat;position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(1.7857142857142867%, -8.936395759717309%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <ul class="rope depth-60">
                    <li><img src="https://wagerfield.github.io/parallax/assets/images/rope.png" alt="Rope" /></li>
                    <li class="hanger position-3">
                        <div class="board birds swing-5"></div>
                    </li>
                    <li class="hanger position-6">
                        <div class="board cloud-2 swing-2"></div>
                    </li>
                    <li class="hanger position-8">
                        <div class="board cloud-3 swing-4"></div>
                    </li>
                </ul>
            </li>
            <!-- <li class="layer" data-depth="0.60" style="background-repeat: no-repeat;position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(1.7857142857142867%, -8.936395759717309%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="wave plain depth-60"></div>
            </li> -->
            <!-- <li class="layer" data-depth="0.80" style="position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(2.3809523809523827%, -11.915194346289747%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="wave plain depth-80"></div>
            </li> -->
            <!-- <li class="layer" data-depth="1.00" style="background-repeat: no-repeat;position: absolute; display: block; height: 100%; width: 100%; left: 0px; top: 0px; -webkit-transform: translate3d(2.976190476190478%, -14.893992932862183%, 0px); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;">
                <div class="wave paint depth-100"></div>
            </li> -->
        </ul>
    </div>
    <script src="js/materialize.min.js"></script>
    <script src="js/parallax_main.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/lib/jquery-3.3.1.min.js"></script></body>

</html>