<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="public/css/style.css">

    <link rel="stylesheet" href="public/css/materialize.css">
    <title>Vulcan Route</title>
</head>
<body>
       <script src="public/js/materialize.js"></script>

    <script src="public/js/lib/jquery-3.3.1.min.js"></script>
    <script src="public/js/main.js"></script>
    <script src="public/js/parallax.js"></script>
</body>
</html>