/* Portada Video */
.contenedor-video{
    position: absolute;
    width: 100%;
    height: 110%;
    max-width: 100%;
    z-index: -3;
    left: 0;
}
.video{
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
}
.capa-efecto{
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -2;
    height: 200%;
    background-color: rgba(0, 0, 0,0.8);
    /* max-width: 100%; */
   
}
.logo{
    float: left;
    position: relative;
    width: 200px;
    height: 150px;
}
.home{
    float: center;
    position: relative;
    width: 400px;
    height: 350px;
}

/* NAV BAR */
nav {
    color: #fff;
    background-color: #ec7b4f;
    width: 100%;
    height: 56px;
    line-height: 56px;
  } 
.logo-nav{
    width: 150px;
    height: 70px;
}


/* Comienza el index parallax principal */
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/Texture-Background.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "Josefin Sans",sans-serif;
}
#wrapper {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    max-width: 1440px;
    width: 100% !important;
}
section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

#bloque1 {
    background-image: url("../img/california-210913.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#bloque2 {
    background-image: url("../img/foto_moto_1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#bloque3 {
    background-image: url("../img/foto_moto_2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#bloque4 {
    background-image: url("../img/foto_moto_3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
h1 {
    background-color: #02223a;
    bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 5em;
    font-weight: bold;
    margin-top: 50px;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
    width: 100%;
}
/* h2 {
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    margin-top: 5em;
    opacity: 0.85;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
} */
#logo {
    display: block;
    margin: 0em auto 0;
    opacity: 0.8;
    width: 650px;
}
#bloque2 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 7em auto;
    max-width: 800px;
    padding: 1.5em;
}
#bloque3 p {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 7em auto;
    max-width: 800px;
    padding: 1.5em;
}
.flip-box {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-left: 900px;
    margin-top: 200px;
    margin-right: 50px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .perfil{
      background-image: url(../img/img_cards/miperfil.png);
      width: 500px;
      height: 300px;
  }
  .perfil-back{
      background-image: url(../img/img_cards/miperfil_BN.png);
      width: 500px;
      height: 300px;
  }
.amigos{
    background-image: url(../img/img_cards/grupos.png);
    width: 500px;
    height: 300px;
}
.amigos-back{
    background-image: url(../img/img_cards/grupos_BN.png);
    width: 500px;
    height: 300px;
}
.rutas{
    background-image: url(../img/img_cards/winding-road.jpg);
    width: 500px;
    height: 300px;
}
.rutas-back{
    background-image: url(../img/img_cards/winding-road\ bn.jpg);
    width: 500px;
    height: 300px;
}
.campo{
    color:white;
}
.tittle{
    margin-top: 100px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3.56rem;

}
.tittle-back{
    margin-top: 100px;
    font-size: 3.56rem;
    font-family: 'Cabin Sketch', cursive;
}
.rutas-front{
    font-size: 5.56rem;
    color: rgb(21, 44, 247);
    margin-top: 65px
}
.vulcan{
    font-family: 'Cabin Sketch', cursive;
    color:white;
    font-size:  10rem; 
}
.route{
    font-family: 'Cabin Sketch', cursive;
    color: red;
    font-size:  10rem; 
}


  /* MEDIA QUERY */
  @media screen and (max-width:320px){
    .flip-box {
        background-color: transparent;
        width: 200px;
        height: 50px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        margin-left: 30px;
        margin-top: 150px;
        margin-right: 50px;
      }
      .perfil{
        background-image: url(../img/img_cards/miperfil.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 250px;
        height: 150px;
      }
   
    .perfil-back{
        background-image: url(../img/img_cards/miperfil_BN.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 250px;
        height: 150px;
    }
    .amigos{
        background-image: url(../img/img_cards/grupos.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 250px;
        height: 150px;
    }
    .amigos-back{
        background-image: url(../img/img_cards/grupos_BN.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 250px;
        height: 150px;
    }

    .rutas{
        background-image: url(../img/img_cards/rutas.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 250px;
        height: 150px;
    }
    .rutas-back{
        background-image: url(../img/img_cards/rutas_BN.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 250px;
        height: 150px;
    }
    .tittle{
        margin-top: 50px;
    }
    .tittle-back{
        margin-top: 50px;
        font-size: 2.56rem;
    }
  }


@media screen and (max-width:370px) and (min-width:321px)
  {
    .flip-box {
        background-color: transparent;
        width: 200px;
        height: 50px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        margin-left: 25px;
        margin-top: 150px;
        margin-right: 30px;
      }
      .perfil{
        background-image: url(../img/img_cards/miperfil.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 290px;
        height: 180px;
      }
    .perfil-back{
        background-image: url(../img/img_cards/miperfil_BN.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 290px;
        height: 180px;
    }
    .amigos{
        background-image: url(../img/img_cards/grupos.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 290px;
        height: 180px;
    }
    .amigos-back{
        background-image: url(../img/img_cards/grupos_BN.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 290px;
        height: 180px;
    }

    .rutas{
        background-image: url(../img/img_cards/rutas.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 290px;
        height: 180px;
    }
    .rutas-back{
        background-image: url(../img/img_cards/rutas_BN.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 290px;
        height: 180px;
    }
    .tittle{
        margin-top: 70px;
    }
    .tittle-back{
        margin-top: 70px;
        font-size: 3.56rem;
    }
  }

    @media screen and (max-width:812px) and (min-width:371px)
  {
    .flip-box {
        background-color: transparent;
        width: 200px;
        height: 50px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        margin-left: 10px;
        margin-top: 150px;
        margin-right: 30px;
      }
      .perfil{
        background-image: url(../img/img_cards/miperfil.png);
        width: 350px;
        height: 230px;
      }
    .perfil-back{
        background-image: url(../img/img_cards/miperfil_BN.png);
        width: 350px;
        height: 230px;
    }
    .amigos{
        background-image: url(../img/img_cards/grupos.png);
        width: 350px;
        height: 230px;
    }
    .amigos-back{
        background-image: url(../img/img_cards/grupos_BN.png);
        width: 350px;
        height: 230px;
    }

    .rutas{
        background-image: url(../img/img_cards/rutas.png);
        width: 350px;
        height: 230px;
    }
    .rutas-back{
        background-image: url(../img/img_cards/rutas_BN.png);

        height: 230px;
    }
    .tittle{
        margin-top: 90px;
    }
    .tittle-back{
        margin-top: 90px;
        font-size: 3.56rem;
    }   
  }
    @media screen and (max-width:900px) and (min-width:813px)
  {
    .flip-box {
        background-color: transparent;
        width: 200px;
        height: 50px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        margin-left: 420px;
        margin-top: 150px;
        margin-right: 30px;
      }
      .perfil{
        background-image: url(../img/img_cards/miperfil.png);
        width: 385px;
        height: 250px;
      }
    .perfil-back{
        background-image: url(../img/img_cards/miperfil_BN.png);
;
        width: 385px;
        height: 250px;
    }
    .amigos{
        background-image: url(../img/img_cards/grupos.png);
        width: 385px;
        height: 250px;
    }
    .amigos-back{
        background-image: url(../img/img_cards/grupos_BN.png);
        width: 385px;
        height: 250px;
    }

    .rutas{
        background-image: url(../img/img_cards/rutas.png);
        width: 385px;
        height: 250px;
    }
    .rutas-back{
        background-image: url(../img/img_cards/rutas_BN.png);
        width: 385px;
        height: 250px;
    }
    .tittle{
        margin-top: 90px;
    }
    .tittle-back{
        margin-top: 90px;
        font-size: 3.56rem;
    }   
  }
   
  @media screen and (max-width:1024px) and (min-width:901px)
  {
    .flip-box {
        background-color: transparent;
        width: 500px;
        height: 300px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
        margin-left: 400px;
        margin-top: 200px;
        margin-right: 50px;
      }
      .perfil{
        background-image: url(../img/img_cards/miperfil.png);
        width: 500px;
        height: 300px;
      }
    .perfil-back{
        background-image: url(../img/img_cards/miperfil_BN.png);
        width: 500px;
        height: 300px;
    }
    .amigos{
        background-image: url(../img/img_cards/grupos.png);
        width: 500px;
        height: 300px;
    }
    .amigos-back{
        background-image: url(../img/img_cards/grupos_BN.png);
        width: 500px;
        height: 300px;
    }

    .rutas{
        background-image: url(../img/img_cards/rutas.png);
        width: 500px;
        height: 300px;
    }
    .rutas-back{
        background-image: url(../img/img_cards/rutas_BN.png);
        width: 500px;
        height: 300px;
    }
    .tittle{
        margin-top: 100px;
    }
    .tittle-back{
        margin-top: 100px;
        font-size: 3.56rem;
    } 
  }
   
    @media screen and (max-width:1100px) and (min-width:1025px)
  {
    .flip-box {
        margin-left: 550px;
    }
  }
    @media screen and (max-width:1400px) and (min-width:1101px)
  {
    .flip-box {
        margin-left: 900x;
    }
  }

  /* Crea Tus Rutas */
  .titular{
    font-family: 'Cabin Sketch', cursive;
    /* font-family: 'Frijole', cursive; */
  }
  .subtitulo{
      color: white
  }